apiVersion: v1
kind: Service
metadata:
  name: nginx-service
  labels:
    app: nginx
spec:
  type: NodePort  # expõe externamente via Minikube
  selector:
    app: nginx
  ports:
    - protocol: TCP
      port: 80        # porta interna do serviço
      targetPort: 80  # porta do container NGINX
      nodePort: 30080 # porta externa para acessar via localhost:30080
