name: CD - Deploy to Kubernetes

on:
  workflow_run:
    workflows: ["CI - Build & Push Docker"]
    types: [ "completed" ]

permissions:
  contents: read

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: self-hosted

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set KUBECONFIG
        run: |
          echo "Setando KUBECONFIG para Minikube no Windows"
          $env:KUBECONFIG="C:\Users\W10\.minikube\config\config.json"
          kubectl version

      - name: Set image vars
        id: vars
        run: |
          SHORT_SHA=$(echo "${{ github.sha }}" | cut -c1-7)
          echo "IMAGE=vinimf14/monitor" >> $GITHUB_OUTPUT
          echo "TAG_SHA=$SHORT_SHA" >> $GITHUB_OUTPUT

      - name: Deploy to Kubernetes
        run: |
          kubectl set image deployment/monitor monitor=${{ steps.vars.outputs.IMAGE }}:${{ steps.vars.outputs.TAG_SHA }} -n default
          kubectl rollout status deployment/monitor -n default
